#main, #controls {
  float: left;
}

#main {
  width:60%;
}

#controls {
  width:40%;
}

#board table {
  width:80%;
  margin: 0 auto;
}

#board table td {
  width:6%;
  height: 40px;
}

td.board-space {
  text-align: center;
  font-weight: bold;
  border:1px solid #000;
}

td.bonus-DL {
  background-color: #a5d4f8;
}
td.bonus-DW {
  background-color: #ffa3a3;
}
td.bonus-TL {
  background-color: #4753e6;
}
td.bonus-TW {
  background-color: #e4185c
}

#rack {
  width: 358px;
  height: 50px;
  margin: 20px auto;
}

#rack table {
  width: auto;
  border:1px solid #000;
}

#rack table td {
  height:50px;
  width:50px;
}

#rack table td+td {
  border-left:1px solid #000;
}

#footer 
