<form>
  <label>User Name
    <input type="text" name="username"/>
  </label>
  <label>Password
    <input type="password" name="password"/>
  </label>
  <button type="submit" style="display:none;"></button>
</form>

