<form>
  <label>User Name
    <input type="text" name="username" value="adambocoup"/>
  </label>
  <label>Password
    <input type="password" name="password" value="123456"/>
  </label>
  <button type="submit" style="display:none;"></button>
</form>

