<div id="main" role="main">
  <div id="players" class="clearfix">
    <div id="player-one"></div>
    <div id="player-two"></div>
  </div>
  <div id="rack" class="clearfix"></div>
  <div id="bag-pretty"></div>
  <div id="board"></div>
  <div id="bag-compact" class="clearfix"></div>
</div>
<aside id="controls">
  <div id="buddies"></div>
  <div id="seek-graph"></div>
  <div id="console"></div>
</aside>

<footer id="main-footer">
  <div id="player-status"></div>
  <div id="score-preview"></div>
</footer>
