<div id="main" role="main">
  <div id="players">
    <div id="player-one"></div>
    <div id="player-two"></div>
  </div>
  <div id="rack"></div>
  <div id="board"></div>
</div>
<aside id="controls">
  <ul>
    <li><a href="#main-console">Main Console</a></li>
    <li><a href="#buddies">Buddies</a></li>
    <li><a href="#seek-graph">Seek Graph</a></li>
  </ul>
  <div id="main-console"></div>
  <div id="buddies"></div>
  <div id="seek-graph"></div>
</aside>

<footer id="main-footer">
  <div id="player-status"></div>
  <div id="bag-remaining"></div>
  <div id="score-preview"></div>
</footer>
